@import '../../utils/style/style.scss';

.gallery {
  @include tablette {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap: 30px;
  }
  @include desktop {
    grid-template-columns: repeat(3, 3fr);
  }
}
