@import '../../utils/style/style.scss';

.collapse {
  margin-bottom: 30px;
  width: 100%;
  &__head {
    border-radius: 10px;
    background-color: $corail;
    color: $wh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    &--title {
    }
    &--arrow {
      img {
        width: 20px;
      }
    }
  }
  &__text {
    background-color: $grey;
    padding: 20px;
    height: 180px;
    border-radius: 0 0 10px 10px;
    &--item {
      list-style-type: none;
    }
  }
}
