@import '../../utils/style/style.scss';

.banner {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.7);
  }
  &__text {
    position: absolute;
    margin: 10px;
    color: $wh;
    z-index: 11;
    left: 0;
    @include tablette {
      left: unset;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
